@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body,
button,
input {
  font-family: "Inter", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

input::placeholder,
textarea::placeholder {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary);
  font-size: 0.8rem;
}

html {
  font-size: 0.88rem;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--bg-layout);
  color: var(--text-color);
  /* Firefox */
}

html::-webkit-scrollbar {
  width: 0;
}

.user-select-none {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* padrão moderno */
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.88rem;
  overflow-x: hidden !important;
  background-color: var(--bg-layout);
  color: var(--text-color);
}

html,
body {
  overflow-x: hidden !important;
  /* remove scroll lateral */
  overflow-y: auto !important;
  /* garante rolagem vertical normal */
  height: auto !important;
  min-height: 100vh;
}

/* Evita rolagem horizontal em todos os dispositivos móveis */
@media screen and (max-width: 768px) {
  html,
  body,
  #root {
    overflow-x: hidden !important;
    width: 100% !important;
  }
}
